// .Layout
//     height: 720px
//     width: 100%
//     display: flex
//     text-align: center
//     .Header
//         background-color: pink
//         text-align: center
//         color: #546daa
 
//     .Sider
//         background-color: #eb84b1
//         .ant-layout-sider-trigger
//            background-color: #8598c9 
//         .ant-menu ant-menu-root ant-menu-inline ant-menu-light css-dev-only-do-not-override-4fj727
//             background-color: #fffbf3
//     .Main
//         background-color: #fffbf3
//         text-align: left

//     .Footer
//         background-color: #8598c9
html, body 
	padding: 0 
	margin: 0 
html 
	font-size: 1em 
body 
	font-size: 100% 
a img, :link img, :visited img 
	border: 0 
